#components-layout-demo-basic {
  .menu {
    text-align: center;
    padding: 5px;
    color: aliceblue;

    background: linear-gradient(180deg, #6510ad 75%, #104fad);

    .iconfont {
      display: inline-block;
      padding: 0 8px;
      border-radius: 5px;
      font-size: 36px;
    }

    .checked {
      background: linear-gradient(135deg, #470283 25%, #104fad);
    }
  }

  .layout-message-container {
    .layout-header {
      background: none;
      // border: 1px solid #1B1B4C;
      border-radius: 3px;
      background: linear-gradient(90deg, #6510ad 65%, #104fad);

      height: 80px;
      line-height: 80px;
      overflow: hidden;

      .pickId {
        color: #fff;
        font-weight: 700;
        font-size: 22px;
      }
    }

    .layout-content {
      // background: green;
    }

    .layout-footer {
      height: 150px;
      border-radius: 3px;
      background: linear-gradient(90deg, #6510ad 80%, #104fad);
    }
  }

}